.container{
    border: 1px solid black;
    max-width: 100%;
    padding: 30px;
    height: auto;
}
.box1{
    margin-right: 50%;
}
.card{
    background-color: blue;
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: 100px;
    margin-right: 150px;
}
.box2{
    margin-left: 50%;
}
.box2 .input{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.box2 .input input{
    width: 80%;
    display: flex;
    margin: 2% auto;
    height: 7vh;
    padding-left: 10%;
    font-size: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(188, 188, 188);
}
.box2 .input button{
    display: flex;
    margin: 4% auto;
    justify-content: center;
    width: 50%;
    font-size: 18px;
    background-color: rgb(252, 157, 3);
    color: white;
    font-weight: 900;
    border-radius: 20px;
}
.box2 .login {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -3%;
    color: gray;
    font-size: 20px;
}
.box2 .login .signup {
    text-decoration: none;
    padding-left: 2%;
    color: rgb(252, 157, 3);
    font-weight: 700;
}