.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0 auto;
    background-color: #d9dddc;
}

.Contact-Us-box,
.Login-Account-box,
.Create-Account-box {
    width: calc(43% - 20px);
    background-color: #fff;
    margin: 10px 10px 0;
    border-radius: 50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.Contact-Us-box,
.Login-Account-box {
    height: 700px;
}

.Create-Account-box {
    height: 850px;
    margin-bottom: 150px;
}
.table h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.data label {
    margin-left: 50px;
    margin-top: 20px; /* Adjusted margin for a 20px dropdown */
    font-size: 20px;
    display: block;
    width: 145px;
    position: relative;
    background-color: #fff;
    top: 20px;
}

.data input{
    margin-left: 5%;
    width: 90%;
    height: 60px;
    border-radius: 50px;
    border: 1px solid silver;
    line-height: -22px;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 auto;
}
.circle-container
 i.fa-solid.fa-user
,i.fa.fa-envelope
,i.fa-solid.fa-shield
,i.fa-solid.fa-phone
,i.fas.fa-check-circle {
    width: 49px;
    height: 49px;
    background-color: #f2f3f4;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #000;
    margin-left: 447px;
    margin-top: -75.6px;
}
.email{
    margin-top: -30px;
}
.email label {
    margin-left: 50px;
    margin-top: 20px; /* Adjusted margin for a 20px dropdown */
    font-size: 20px;
    display: block;
    width: 150px;
    position: relative;
    background-color: #fff;
    top: 20px;
}
.email input{
    margin-left: 5%;
    width: 90%;
    height: 60px;
    border-radius: 50px;
    border: 1px solid silver;
    line-height: -22px;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 auto;
}

.textarea label {
    margin-left: 50px;
    margin-top: 20px; /* Adjusted margin for a 20px dropdown */
    font-size: 20px;
    display: block;
    width: 150px;
    position: relative;
    background-color: #fff;
    top: 20px;
}
.textarea textarea {
    resize: none;
    scroll-padding: 50px 0 50px 0;
    width: 90%; /* Set the width to 30% */
    display: block;
    padding: 12px 15px 15px;
    border-radius: 30px;
    border: 2px solid #d0adff;
    outline: none;
    font-family: acumin-pro, sans-serif;
    font-size: 1.3em;
    color: rgb(90, 90, 90);
    margin: 0 auto;
}
.button button{
    margin-top: 40px;
    margin-left: 5%;
    width: 90%;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: blue;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.remember{
    margin-left: 31px;
    font-size: 18px;
    margin-top: 10px;
}
.forgot{
    margin-top:-29px;
    font-size: 18px;
    margin-left: 65%;
}
.question{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}



@media screen and (max-width: 768px) {
    .Contact-Us-box,
    .Login-Account-box,
    .Create-Account-box {
        width: 85%;
        margin: 10px 0;
    }
}

